.col-md-9.big-top
  .well
    %h1.text-center.no-margin.header-font News
  .well
.col-md-3.big-top
  .well.clearfix
    %h1.text-center.margin-bottom.header-font Follow me
    .col-md-4.col-md-offset-2
      %a{ href: '#' }
        = image_tag('fb.svg', size: '50x50', class: "center-block img-responsive")
    .col-md-4
      %a{ href: '#' }
        = image_tag('bc.svg', size: '50x50', class: "center-block img-responsive")
    .col-md-4.col-md-offset-2.top
      %a{ href: '#' }
        = image_tag('sc.svg', size: '50x50', class: "center-block img-responsive")
    .col-md-4.top
      %a{ href: '#' }
        = image_tag('yt.svg', size: '50x50', class: "center-block img-responsive")

    %iframe.top{ width: '100%', height: '450', scrolling: 'no', frameborder: 'no', src: 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/51533534&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true'}

    
