.col-md-4.big-top
  .well
    %h1.no-margin.text-center.white.header-font Above Ground
  .well.lyric-box
    %p.lyrics.no-margin I hope you see what I've been going through
    %p.lyrics.no-margin I need to help myself
    %p.lyrics.no-margin And put this behind me.
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin But it's hard to let go
    %p.lyrics.no-margin Of something that I thought
    %p.lyrics.no-margin I could hold on to
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I'm taking my time
    %p.lyrics.no-margin And watching my step
    %p.lyrics.no-margin Cause I've been falling
    %p.lyrics.no-margin Down and down
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I want you to know
    %p.lyrics.no-margin That I've been digging a hole
    %p.lyrics.no-margin For myself just to keep you above ground
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I know you think that this was my fault
    %p.lyrics.no-margin That everything went wrong
    %p.lyrics.no-margin Was because I tried to do something right
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin Well I should let you know
    %p.lyrics.no-margin That I'll stand up for myself
    %p.lyrics.no-margin And everyone that you hurt
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I'm taking my time
    %p.lyrics.no-margin And watching my step
    %p.lyrics.no-margin Cause I've been falling
    %p.lyrics.no-margin Down and down
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I want you to know
    %p.lyrics.no-margin That I've been digging a hole
    %p.lyrics.no-margin For myself just to keep you above ground
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I hope you get what you've got
    %p.lyrics.no-margin Coming for you
    %p.lyrics.no-margin And you should know that when you fall
    %p.lyrics.no-margin I won't be there to pull you up
    %p.lyrics.no-margin I'm taking my time
    %p.lyrics.no-margin And watching my step
    %p.lyrics.no-margin Cause I've been falling
    %p.lyrics.no-margin Down and down
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I want you to know
    %p.lyrics.no-margin That I've been digging a hole
    %p.lyrics.no-margin For myself just to keep you above ground
.col-md-4.big-top
  .well
    %h1.no-margin.text-center.white.header-font Brick Walls
  .well.lyric-box
    %p.lyrics.no-margin Will you please
    %p.lyrics.no-margin Tell me what I'm doing wrong
    %p.lyrics.no-margin Cause I don't understand
    %p.lyrics.no-margin Why you make me feel this way
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I gave my best 
    %p.lyrics.no-margin But it wasn't enought
    %p.lyrics.no-margin I guess my best is only second to you
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin So tell me why
    %p.lyrics.no-margin That every time
    %p.lyrics.no-margin I speak my mind
    %p.lyrics.no-margin I feel dead inside
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I can't seem to keep my mind straight
    %p.lyrics.no-margin All these thoughts of us keep bringing me down
    %p.lyrics.no-margin I need to get myself together
    %p.lyrics.no-margin Or I'll tear myself apart
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin Because lately I've been running into brick walls
    %p.lyrics.no-margin Hoping that one day they will fall down
    %p.lyrics.no-margin You say I tried too hard and that I let you down
    %p.lyrics.no-margin But what else can I do?
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin Will you please
    %p.lyrics.no-margin Listen to me when I say
    %p.lyrics.no-margin What I need
    %p.lyrics.no-margin To keep me going
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin It feels like I'm stuck on a treadmill
    %p.lyrics.no-margin Cause I'm not getting anywhere
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I can't seem to keep my mind straight
    %p.lyrics.no-margin All these thoughts of us keep bringing me down
    %p.lyrics.no-margin I need to get myself together
    %p.lyrics.no-margin Or I'll tear myself apart
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin Because lately I've been running into brick walls
    %p.lyrics.no-margin Hoping that one day they will fall down
    %p.lyrics.no-margin You say I tried too hard and that I let you down
    %p.lyrics.no-margin But what else can I do?
.col-md-4.big-top
  .well
    %h1.no-margin.text-center.white.header-font Problems
  .well.lyric-box
    %p.lyrics.no-margin Another Saturday night alone
    %p.lyrics.no-margin Learning how to live on my own
    %p.lyrics.no-margin Cause lately I've had nothing
    %p.lyrics.no-margin To look forward to
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin But then you came to me
    %p.lyrics.no-margin With a line that would change my life
    %p.lyrics.no-margin "You'll be okay"
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I don't know
    %p.lyrics.no-margin How to tell you this
    %p.lyrics.no-margin But I love you
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I won't go 
    %p.lyrics.no-margin Until you know
    %p.lyrics.no-margin That in the end
    %p.lyrics.no-margin I'll still be here
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And after I finish last
    %p.lyrics.no-margin I know you'll still be there.
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I've been staying up late
    %p.lyrics.no-margin Thinking of ways to tell you what you meant to me
    %p.lyrics.no-margin But I don't understand
    %p.lyrics.no-margin That you just want to be friends
    %p.lyrics.no-margin When I want to be more than friends
    %p.lyrics.no-margin But I'm trying to let go
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I won't go 
    %p.lyrics.no-margin Until you know
    %p.lyrics.no-margin That in the end
    %p.lyrics.no-margin I'll still be here
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And after I finish last
    %p.lyrics.no-margin I know you'll still be there.
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And after I tried
    %p.lyrics.no-margin You told me not to let it get to me
    %p.lyrics.no-margin But I need to tell you something
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I'm not the person you want me to be
    %p.lyrics.no-margin The glass is half empty
    %p.lyrics.no-margin It hasn't been half full
    %p.lyrics.no-margin For more than a year know
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin I'm not the person you tell me to be
    %p.lyrics.no-margin I'll never be that way
    %p.lyrics.no-margin So get used to how I am
    %p.lyrics.no-margin &nbsp;
    %p.lyrics.no-margin And I don't know
    %p.lyrics.no-margin How to tell you this
    %p.lyrics.no-margin But I hate you.