/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* VARIABLES */
$blue: #1eb4ec;

/* GLOBAL STYLES */

* {
  font-family: 'Amatic SC' !important;
}

.fa {
  font-family: FontAwesome !important;
}

a {
  color: $blue !important;
  &:hover {
    text-decoration: none !important;
    color: darken($blue, 20%) !important;
  }
}

/* UTILITIES */

.huge-top {
  margin-top: 250px !important;
  font-size: 80px !important;
}

.huge-bottom {
  margin-bottom: 50px !important;
}

.blue {
  color: $blue !important;
}