/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* VARIABLES */
$blue: #1eb4ec;
$text-color: #4f4f4f;

/* GLOBAL STYLES */

* {
  font-family: 'Amatic SC' !important;
  color: white;
}

.fa {
  font-family: FontAwesome !important;
}

a {
  color: $blue !important;
  &:hover {
    text-decoration: none !important;
    color: darken($blue, 20%) !important;
  }
}

/* UTILITIES */

.huge-top {
  margin-top: 250px !important;
  font-size: 80px !important;
}

.big-top {
  margin-top: 30px !important;
}

.top {
  margin-top: 30px !important;
}

.huge-bottom {
  margin-bottom: 50px !important;
}

.blue {
  color: $blue !important;
}

.no-margin {
  margin: 0px !important;
}

.margin-bottom {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.white {
  color: white !important;
}

.gray {
  color: #B3B3B3 !important;
}

.navigation {
  background-color: #4f4f4f !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.nav-link {
  color: white !important;
  transition: color 175ms ease-out;
  &:hover {
    color: $blue !important;
  }
}

.header-font {
  font-size: 65px !important;
}

.lyrics {
  font-family: 'Roboto' !important;
  font-weight: 100 !important;
}

.lyric-box {
  max-height: 858px;
  overflow: scroll;
}

/* BOOTSTRAP OVERRIDES */

.well {
  border-radius: 0px !important;
  border: 0px !important;
  background-color: #4f4f4f !important;
}

.form-element {
  font-family: 'Roboto' !important;
  font-weight: 100 !important;
  border-radius: 0px !important;
  border: 0px !important;
}

.alert {
  background-color: #4f4f4f !important;
  border-radius: 0px !important;
  color: $blue !important;
  
}